.dash-container {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  /* margin-top: 2rem; */
  height: 100vh;
  width: 100%;
  /* background-color:rgb(244,240,232); */
  /* background-color: '#f4f0e8'; */
  background-color:rgb(243, 245, 245);
}

.dash-header {
  height: 10%;
  width: 100%;
}

.dash-content {
  display: flex;
  font-size:18px;
  height: 90%;
  width: 100%;
  /* background-color:rgb(244,240,232); */
}

.left-container{
  height: 100%;
  width: 27%;
}

.middle-container{
  height: 100%;
  width: 40%;
}

.DashCharts{
  height: 100%;
  width: 100%;
}

.right-container{
  height: 100%;
  width: 33%;
}

.activeNum{
  font-size:28px;
  text-align: center;
}

.capacityNum{
  font-size:28px;
  text-align: center;
}